# Default sdkconfig parameters to use the OTA
# partition table layout, with a 4MB flash size
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_TWO_OTA=y

CONFIG_LWIP_DHCP_MAX_NTP_SERVERS=8

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

CONFIG_CXX_EXCEPTIONS=y
CONFIG_CXX_EXCEPTIONS_EMG_POOL_SIZE=0

CONFIG_ESPTOOLPY_BAUD_921600B=y
CONFIG_ESPTOOLPY_BAUD=921600

CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240

CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024

CONFIG_MAIN_TASK_STACK_SIZE=8192

CONFIG_UDP_RECVMBOX_SIZE=20

CONFIG_LWIP_MAX_SOCKETS=16

CONFIG_TIMER_TASK_STACK_DEPTH=4096
