menu "artlight Configuration"

config OTA_URL
    string "Over the Air (OTA) update url endpoint"
    default "https://artlightserver:4433/artlight.bin"
    help
        URL of server which hosts the firmware image.

config TIME_SERVERS
    string "SNTP time servers"
    default "pool.ntp.org"
    help
        Whitespace delimited names of SNTP servers.

config TIME_ZONE
    string "timezone"
    default "PST+8PDT,M3.2.0/2,M11.1.0"
    help
       https://www.gnu.org/software/libc/manual/html_node/TZ-Variable.html
endmenu
