CONFIG_COMPILER_CXX_EXCEPTIONS=y

CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=4096

CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024

CONFIG_LOG_DEFAULT_LEVEL_INFO=y
# CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y

CONFIG_LWIP_DHCP_MAX_NTP_SERVERS=8
CONFIG_LWIP_MAX_SOCKETS=16
CONFIG_LWIP_UDP_RECVMBOX_SIZE=20

CONFIG_PARTITION_TABLE_TWO_OTA=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
